/* =========================
   Ryan Launcher
   style.css
========================= */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #1b1b1b;
}

/* Desktop */

#desktop {
    position: absolute;
    inset: 0;
    background: linear-gradient(#2d2d2d, #1b1b1b);
}

/* Launcher Button */

#taskbar {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

#launchBtn {

    width: 56px;
    height: 56px;

    border: none;
    border-radius: 50%;

    background: white;
    color: #222;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0,0,0,.35);

    transition: .20s;
}

#launchBtn:hover {
    transform: scale(1.08);
}

/* Main Menu */

.menu {

    position: fixed;

    top: 80px;
    left: 15px;

    width: 240px;

    background: #2d2d30;

    border: 1px solid #555;

    display: none;

    box-shadow: 0 8px 20px rgba(0,0,0,.45);

    overflow: hidden;

}

.menu.open {
    display: block;
}

/* Categories */

.category {

    padding: 12px 15px;

    cursor: pointer;

    color: white;

    border-bottom: 1px solid #3b3b3b;

    user-select: none;

}

.category:last-child{
    border-bottom:none;
}

.category:hover {

    background: #0a64c9;

}

/* Popup Menu */

.submenu {

    position: fixed;

    display: none;

    width: 240px;

    background: #2d2d30;

    border: 1px solid #555;

    box-shadow: 0 8px 20px rgba(0,0,0,.45);

    overflow: hidden;

}

.submenu.open {
    display: block;
}

/* Links */

.submenu a {

    display: block;

    padding: 12px 15px;

    color: white;

    text-decoration: none;

    border-bottom: 1px solid #3b3b3b;

}

.submenu a:last-child{
    border-bottom:none;
}

.submenu a:hover {

    background: #0a64c9;

}
